<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Thank you for contacting me, <%= @user.name %></p>
    <p>I'll respond as soon as I can.</p>
    <p>-dave doolin</p>
    <hr />
    <strong>Your message:</strong>
    <%= @user.message %>
  </body>
</html>
