<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you for contacting me, <%= @user.name %></h1>
    <p>I'll respond as soon as I can.</p>
    <p>-dave doolin</p>
  </body>
</html>
