
<header class="header">

<h1>Contact David M. Doolin</h1>

<div id="admin_nav">  
  <% if admin_signed_in? %>  
    Signed in as <%= current_admin.email %>. Not you?  
    <%= link_to "Sign out", destroy_admin_session_path %>  
  <% else %>  
<!--
    <%= link_to "Sign up", new_admin_registration_path %> or  
-->
    <%= link_to "Sign in", new_admin_session_path %>  
  <% end %>  
</div>  

</header>
