
<header class="header">

<h1>Contact David M. Doolin</h1>

<p>Use this handy form, I'll reply as soon as I'm able.</p>

<div id="user_nav">  
  <%= link_to "Register", new_user_path %>  
</div> 

</header>
