
<header class="header">

<h1><%= link_to 'Contact David M. Doolin', root_path %> </h1>

<!-- 
<div id="admin_nav">  
  <% if admin_signed_in? %>  
    Signed in as <%= current_admin.email %>. Not you?  
    <%= link_to "Sign out", destroy_admin_session_path %>  
  <% else %>  
    <%= link_to "Sign in", new_admin_session_path %>  
  <% end %>  
</div>  
-->

</header>
