
<div class="sidebar span-6 last">

<h2 class="sidebar">I'm here and there...</h2>


        <table>
          <!-- 
          <tr class="spacer"> 
            <td class="f">&nbsp;</td> 
            <td class="v">&nbsp;</td> 
          </tr>
          --> 
          <tr class="tel"> 
            <td class="f type"><img src="/images/iphone_16.png" /></td> 
            <td class="v value"><a href="tel:1-510-984-2480">510-334-4006</a></td> 
          </tr> 
          <!--
          <tr class="spacer"> 
            <td class="f">&nbsp;</td> 
            <td class="v">&nbsp;</td> 
          </tr> 
          <tr> 
            <td class="f">aim</td> 
            <td class="v"><a id="aim" class="url im offline" href="aim:goim?screenname=jaredhanson@mac.com">jaredhanson@mac.com</a></td> 
          </tr> 
          <tr> 
            <td class="f">jabber</td> 
            <td class="v"><a id="gtalk" class="url im offline" href="xmpp:jaredhanson@gmail.com">jaredhanson@gmail.com</a></td> 
          </tr> 
          <tr> 
            <td class="f">msn</td> 
            <td class="v"><a id="msn" class="url im offline" href="msnim:chat?contact=jared.hanson@hotmail.com">jared.hanson@hotmail.com</a></td> 
          </tr>
          --> 
          <tr> 
            <td class="f"><img src="/images/skype.ico" /></td> 
            <td class="v"><a id="skype" class="url im offline" href="skype:mtngrown?chat">mtngrown</a></td> 
          </tr> 
          <!--
          <tr> 
            <td class="f">yahoo</td> 
            <td class="v"><a id="yahoo" class="url im offline" href="ymsgr:sendIM?jared.hanson">jared.hanson</a></td> 
          </tr>
          --> 
          <tr class="spacer"> 
            <td class="f">&nbsp;</td> 
            <td class="v">&nbsp;</td> 
          </tr> 
          <tr> 
            <td class="f"><img width="16" height="16" src="/images/linkedin.ico" /></td> 
            <td class="v"><a id="linkedin" target="_blank" class="url sn" href="http://www.linkedin.com/in/davidmdoolin" rel="me">linkedin.com/in/davidmdoolin</a></td> 
          </tr> 
          <tr> 
            <td class="f"><img src="/images/github.ico" /></td> 
            <td class="v"><a id="github" target="_blank" class="url sn" href="http://github.com/doolin" rel="me">github.com/doolin</a></td> 
          </tr> 
          <tr> 
            <td class="f"><img src="/images/feed.png" /></td> 
            <td class="v"><a id="blog" target="_blank" class="url sn" href="http://daviddoolin.com/" rel="me">daviddoolin.com</a></td> 
          </tr> 
          <tr> 
            <td class="f"><img src="/images/twitter.ico" /></td> 
            <td class="v"><a id="twitter" target="_blank" class="url sn" href="http://twitter.com/doolin" rel="me">twitter.com/doolin</a></td> 
          </tr> 
          <tr> 
            <td class="f"><img src="/images/facebook.ico" /></td> 
            <td class="v"><a id="facebook" target="_blank" class="url sn" href="http://www.facebook.com/David.Doolin" rel="me">facebook.com/David.Doolin</a></td> 
          </tr> 
          <!-- 
          <tr> 
            <td class="f">flickr</td> 
            <td class="v"><a id="flickr" class="url sn" href="http://www.flickr.com/photos/jaredhanson/" rel="me">flickr.com/photos/jaredhanson</a></td> 
          </tr> 
          <tr> 
            <td class="f">youtube</td> 
            <td class="v"><a id="youtube" class="url sn" href="http://www.youtube.com/jaredhanson" rel="me">youtube.com/jaredhanson</a></td> 
          </tr> 
          -->          
          <tr class="spacer"> 
            <td class="f">&nbsp;</td> 
            <td class="v">&nbsp;</td> 
          </tr> 
          <tr> 
            <td class="f"><img src="/images/inventium.png" /></td> 
            <td class="v"><a id="inventium" target="_blank" class="url sn" href="http://inventiumsystems.com/" rel="me">inventium systems</a></td> 
          </tr> 
          <tr> 
            <td class="f"><img src="/images/wiaw_favicon.png" /></td> 
            <td class="v"><a id="wiaw" target="_blank" class="url sn" href="http://website-in-a-weekend.net/" rel="me">website in a weekend</a></td> 
          </tr> 
          <tr> 
            <td class="f"><img src="/images/hrecipe_icon.png" /></td> 
            <td class="v"><a id="hrecipe" target="_blank" class="url sn" href="http://hrecipe.com/" rel="me">hrecipe for wordpress</a></td> 
          </tr> 
          <tr> 
            <td class="f"><img src="/images/tinobox_icon.png" /></td> 
            <td class="v"><a id="tinobox" target="_blank" class="url sn" href="http://tinobox.com/wordpress/" rel="me">there is no box</a></td> 
          </tr> 
          <tr> 
            <td class="f"><img src="/images/house_icon.png" /></td> 
            <td class="v"> 
              <div class="adr"> 
                <span class="locality">San Francisco East Bay</span>,
                <span class="region">CA</span> 
                <div class="country-name">United States</div> 
              </div> 
            </td> 
          </tr> 
        </table> 



</div>
